.LogoSearch{
    display: flex;
    gap: 0.75rem;
}
.Search{
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
}

.Search>input{
    border: none;
    background-color: var(--inputColor);
    outline: none;
}
.s-icon{
    color: var(--whiteshade2);
    font-size: 1.5rem;
    background: linear-gradient(106.23deg,#2FA4E4,#341365 100%);
    border-radius: 5px;
    padding: 4px;
    color: white;
}

.s-icon:hover{
   cursor: pointer;
}